@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    letter-spacing: 2px;
}

:root{
    --main-color: #f25341;
    --text-color: #35404e;
    --bg-color: #f9f9ff;
    --big-font: 3.6rem;
    --h2-font: 2.26rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 20px 320px;
    background: var(--bg-color);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.img-logo{
    max-width: 100%;
    width: 120px;
    height: auto;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 2px, rgb(31, 193, 27) 0px 0px 0px 3px, rgb(255, 217, 19) 0px 0px 0px 5px, rgb(255, 156, 85) 0px 0px 0px 7px, rgb(255, 85, 85) 0px 0px 0px 9px;
    border-radius: 10px;
    transition: ease .4s;
}

.imglogo:hover{
    transform: scale(1.02) translateX(15bpx);
}

/* .logo{
    font-size: 2.2rem;
    font-weight: 600;
    color: #ff004c;
}

.logo-span{
    font-size: 2.2rem;
    font-weight: 600;
    color: #35404e;
} */

.navlist{
    display: flex;
}

.navlist a{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 15px 20px;
    transition: ease .4s;

}

.navlist a:hover{
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top: 2px solid #ffd447;
    border-bottom: 2px solid #ff004c;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

section{
    padding: 150px 16.7%;
}

.home{
    width: 100%;
    height: 100vh;
    min-height: 95%;
    background: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 5rem;
    align-items: center;
    text-align: center;
}

/* .home-text h3{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #ff004c;
    background-color: #f9f9ff;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 10px;
} */

.home-text{
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 10px;
}

.home-text h1{
    font-size: var(--big-font);
    font-family: 'Righteous' sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    margin-bottom: 24px;
    /* text-shadow: 2px 2px 1px #ff004c, 4px 4px 1px #ffd447; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #000;
    border-radius: 10px;
}

.home-text p{
    max-width: 100%;
    width: 100%;
    font-size: var(--p-font);
    color: #fff;
    line-height: 1.8;
    margin-bottom: 20px;
    
}


.btn {
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-weight: 700;
    font-size: 1.2rem;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-items: center;
    transition: ease .4s;
}

.btn:hover{
    transform: scale(1.2) translateZ(30px);
    border-top: 2px solid #ffd447;
    border-bottom: 2px solid #ff004c;
}

.btn i{
    margin-right: 10px;
}

.espor{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
}

.espor-image img{
    max-width: 100%;
    width: 550px;
    height: auto;
    border-radius: 10px;
}

span{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ff004c;
    margin-bottom: 15px;
}

.espor-text h2{
    font-size: var(--h2-font);
    color: #000;
    margin-bottom: 15px;
}

.espor-text p{
    color: #000;
    font-size: var(--p-font);
    line-height: 1.7;
    margin-bottom: 15px;
}

.games-heading{
    text-align: center;
}

.heading h2{
    font-size: var(--h2-font);
    text-align: center;
    color: #000;
}

.games-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.row{
    padding: 40px 45px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    transition: ease .6s;
}

.row:hover{
    transform: scale(1.1) translateY(-10px);
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    background: transparent;
}

.row img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.row h3{
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.row p{
    color: #717173;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.contact-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.con-box{
    padding: 40px 10px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background-image: url(img/intro.png);
    
}

.contact-icon i{
    width: 50px;
    height: 50px;
    background: #ff004c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #ffffff;
    border-radius: 10px;
    transition: ease .4s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 20px;
}

.contact-icon i:hover{
    transform: scale(1.2);
    background: transparent;
    border: 2px solid #ff004c;
    color: var(--text-color);
}

.con-box h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #000;
}

.con-box p{
    font-size: 1.1em;
    color: #000;
}

@media (max-width: 1560px){
    header{
        padding: 15px 42px;
    }
    :root{
        --big-font: 3rem;
        --h2-font: 2rem:;
    }
}

@media (max-width: 1140px){
    section{
        padding: 50px 5%;
    }

    .home{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 80px;
    }

    .home-text p{
        width: 100%;
    }
    
    .espor{
        grid-template-columns: 1fr;
        text-align: center;
    }

    #menu-icon{
        display: block;
    }

    header .navlist{
        position: absolute;
        top: -400px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: white;
        transition: ease .4s;
    }

    header .navlist.active{
        top: 125px;
    }

    .navlist a{
        display: block;
        padding: 1.6rem;
    }
}

@media (max-width: 720px){
    .home{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 80px;
    }

    .home-text p{
        width: 100%;
    }

    .espor{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .espor p{
        text-align: justify;
    }

    .btn{
        width: 50%;
        margin: 0 auto;
        display: block;
        padding-top: 17px;
    }
}